In [9]:
import pandas as pd
from data_manager.data_manager import process_dataframe, split_data
from analysis.analysis import score_sueq, score_sus, score_tlx, visualize_questionnaire_boxplots

ImportError: cannot import name 'visualize_questionnaire_boxplots' from 'analysis.analysis' (/Users/gajagril/Documents/master_thesis/analysis/analysis.py)

## Getting data ready

Reading data from a CSV file and changing values to numeric; column 1 is user ID, column 2 is category (1 - Garmin, 2 - Strava)

In [2]:
file_path="/Users/gajagril/Documents/master_thesis/anketa_working.csv"
data=pd.read_csv(file_path, sep=";")
data

,Q1,Q2,Q4a,Q4b,Q4c,Q4d,Q4e,Q4f,Q4g,Q4h,...,Q6h,Q6i,Q6j,Q8,Q9,Q10,Q11,Q12,Q13,Unnamed: 26
0,Vpišite svojo raziskovalno šifro,"Vmesnik, na katerem ste nazadnje reševali nalogo:",se ne da upravljati,kompliciran,ni učinkovit,ustvarja zmedo,dolgočasen,nezanimiv,star,zastarel,...,Sistem se mi je zdel neroden za uporabo.,Pri uporabi sistema sem bil zelo suveren.,"Preden sem usvojil uporabo tega sistema, sem m...",Mentalna zahtevnost Kako mentalno zahtevna je...,Fizična zahtevnostKako fizično zahtevna je bil...,Časovna zahtevnost Kako zahteven (hiter oz. n...,Izvedba Kako uspešni ste bili pri doseganju t...,"Trud Kako zelo ste se mogli potruditi, da ste...","Frustracija Kako negotovi, nemotivirani, razd...",NaN
1,83213,1,5,5,6,6,6,6,4,3,...,2,2,3,5,0,3,2,8,7,NaN
2,123456,1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN
3,29622,2,5,6,6,2,5,6,5,5,...,4,1,4,12,0,5,12,15,7,NaN
4,29622,1,6,6,6,7,3,5,6,6,...,1,4,2,8,0,5,5,8,2,NaN
5,94249,2,6,5,5,6,4,4,5,5,...,2,5,1,1,0,1,0,1,1,NaN
6,94249,1,6,6,6,6,4,4,5,5,...,2,5,1,3,0,3,0,1,1,NaN
7,63367,2,7,6,6,5,4,4,6,6,...,2,5,1,0,0,0,0,0,0,NaN
8,63367,1,3,3,4,3,5,5,6,6,...,3,2,2,11,0,7,6,12,15,NaN
9,82586,2,3,3,5,2,2,2,4,3,...,4,2,1,0,0,2,0,0,5,NaN
10,82586,1,5,3,5,5,4,6,6,4,...,4,2,4,4,0,4,0,5,4,NaN
11,60734,1,7,6,7,6,4,5,6,6,...,1,3,2,2,0,1,2,4,0,NaN
12,37786,2,7,7,6,1,4,5,3,2,...,2,4,1,0,0,0,5,1,1,NaN
13,37786,1,4,5,2,6,5,5,5,6,...,4,2,2,3,0,3,10,6,14,NaN
14,60724,2,5,5,6,5,4,5,6,6,...,2,4,1,3,0,5,1,3,0,NaN
15,74931,1,6,3,6,5,7,5,7,6,...,2,4,2,3,1,6,4,8,4,NaN
16,74931,2,5,6,5,5,4,5,6,7,...,2,2,2,5,0,12,4,13,5,NaN
17,16836,1,6,6,6,2,4,4,3,4,...,2,4,1,1,0,6,0,1,0,NaN
18,16836,2,6,5,6,5,5,5,4,3,...,2,4,1,2,0,0,0,1,1,NaN
19,40949,2,7,5,7,6,5,5,6,6,...,4,5,1,0,0,0,0,3,13,NaN
20,40949,1,7,7,7,7,7,7,7,7,...,1,5,1,0,0,0,0,0,0,NaN
21,81691,2,7,7,7,6,5,6,6,7,...,1,4,1,0,0,0,0,0,0,NaN
22,81691,1,4,3,4,4,4,5,7,6,...,1,3,1,0,0,8,0,1,0,NaN
23,39081,2,3,2,4,2,4,4,6,6,...,4,2,1,12,0,10,8,12,13,NaN
24,39081,1,5,4,6,3,7,5,7,7,...,4,3,1,10,0,12,7,12,13,NaN
25,62968,2,5,6,6,4,2,2,4,5,...,1,5,1,8,0,4,3,4,6,NaN
26,62968,1,2,2,2,2,5,5,5,5,...,5,1,4,17,3,18,19,19,13,NaN
27,76970,2,4,3,5,3,2,3,2,2,...,2,3,3,12,2,5,0,14,13,NaN
28,76970,1,6,6,7,6,4,2,2,2,...,4,5,1,0,0,0,0,1,-1,NaN
29,84586,2,5,3,3,3,4,4,5,5,...,4,2,1,8,0,0,2,3,5,NaN
30,84586,1,6,6,6,6,4,4,7,6,...,1,4,1,11,0,0,1,3,5,NaN
31,17739,2,6,5,6,5,4,4,5,5,...,2,4,1,2,1,3,1,2,1,NaN
32,17739,1,3,3,2,4,5,3,3,4,...,4,2,2,4,1,6,3,4,9,NaN
33,16063,1,5,6,6,3,3,6,3,5,...,2,4,1,11,3,5,4,5,11,NaN
34,16063,2,7,7,6,6,6,5,6,6,...,2,5,2,5,3,5,2,6,2,NaN
35,31434,2,7,6,6,5,4,5,6,6,...,2,3,1,2,0,4,0,1,2,NaN
36,31434,1,3,6,2,1,2,2,2,1,...,1,1,3,5,0,2,4,14,15,NaN
37,15629,1,4,4,5,3,4,5,3,3,...,4,4,1,5,2,6,10,6,1,NaN
38,15629,2,6,5,7,6,4,4,6,6,...,1,5,1,2,2,10,3,4,1,NaN
39,22254,2,6,5,6,5,4,5,6,6,...,4,5,1,3,0,18,20,2,2,NaN
40,22254,1,5,3,6,2,2,2,3,3,...,5,5,2,4,0,18,0,3,12,NaN
41,97548,1,5,7,6,2,5,6,3,5,...,1,4,4,14,4,14,7,14,3,NaN
42,97548,2,5,4,5,3,5,6,5,6,...,1,3,2,13,6,4,4,4,0,NaN
43,24306,2,6,7,7,6,4,4,4,4,...,1,3,1,4,1,8,0,4,10,NaN
44,24306,1,2,2,4,3,4,4,4,5,...,4,2,3,10,1,2,0,10,13,NaN
45,43223,2,4,3,5,5,4,4,1,1,...,4,5,2,11,1,4,3,11,11,NaN
46,43223,1,2,2,3,2,5,5,6,6,...,5,5,2,12,1,8,3,12,15,NaN
47,65939,2,4,4,4,4,4,4,6,5,...,4,2,2,11,3,5,-1,14,14,NaN
48,65939,1,4,2,5,4,4,4,6,5,...,4,2,2,8,1,5,-1,12,12,NaN
49,86614,2,3,4,3,3,5,5,6,6,...,3,3,1,2,0,2,3,2,3,NaN
50,86614,1,6,6,7,5,6,6,7,7,...,1,5,1,1,0,1,1,0,1,NaN
51,14230,2,6,5,6,5,5,4,6,6,...,2,4,2,5,0,4,5,2,3,NaN
52,14230,1,7,6,6,6,5,6,6,6,...,1,4,1,2,0,2,2,3,2,NaN

In [3]:
processed_data=process_dataframe(data)

In [4]:
mapping_dict = {
    "Q1": "Vpišite svojo raziskovalno šifro",
    "Q2": "Vmesnik, na katerem ste nazadnje reševali nalogo:",
    "Q3": "Ali ste že kdaj reševali podobne naloge?",
    "Q4": "Ali ste že kdaj reševali podobne naloge?",
    "Q5": "Ali ste že kdaj reševali podobne naloge?",
    "Q6": "Ali ste že kdaj reševali podobne naloge?",
    "Q7": "Ali ste že kdaj reševali podobne naloge?",
    "Q8": "Ali ste že kdaj reševali podobne naloge?",
    "Q9": "Ali ste že kdaj reševali podobne naloge?",
    "Q10": "Ali ste že kdaj reševali podobne naloge?",
    "Q11": "Ali ste že kdaj reševali podobne naloge?",
        
        }

In [5]:
sueq, sus, tlx =split_data(processed_data)
visualized_data_tlx=

In [8]:
tlx_scores=score_tlx(tlx).round(2)
tlx_scores

   User ID Interface Category  Mean TLX Score
0    83213                  1            4.17
1   123456                  1           -1.00
2    29622                  2            8.50
3    29622                  1            4.67
4    94249                  2            0.67
5    94249                  1            1.33
6    63367                  2            0.00
7    63367                  1            8.50
8    82586                  2            1.17
9    82586                  1            2.83
10   60734                  1            1.50
11   37786                  2            1.17
12   37786                  1            6.00
13   60724                  2            2.00
14   74931                  1            4.33
15   74931                  2            6.50
16   16836                  1            1.33
17   16836                  2            0.67
18   40949                  2            2.67
19   40949                  1            0.00
20   81691                  2            0.00
21   81691                  1            1.50
22   39081                  2            9.17
23   39081                  1            9.00
24   62968                  2            4.17
25   62968                  1           14.83
26   76970                  2            7.67
27   76970                  1            0.00
28   84586                  2            3.00
29   84586                  1            3.33
30   17739                  2            1.67
31   17739                  1            4.50
32   16063                  1            6.50
33   16063                  2            3.83
34   31434                  2            1.50
35   31434                  1            6.67
36   15629                  1            5.00
37   15629                  2            3.67
38   22254                  2            7.50
39   22254                  1            6.17
40   97548                  1            9.33
41   97548                  2            5.17
42   24306                  2            4.50
43   24306                  1            6.00
44   43223                  2            6.83
45   43223                  1            8.50
46   65939                  2            7.67
47   65939                  1            6.17
48   86614                  2            2.00
49   86614                  1            0.67
50   14230                  2            3.17
51   14230                  1            1.83

In [7]:
sus_scores=score_sus(sus)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
nov_sus=sus.drop()

In [23]:
filtered_sueq=sueq[1:]
filtered_sueq

        Q1 Q2 Q4a Q4b Q4c Q4d Q4e Q4f Q4g Q4h
1    83213  1   5   5   6   6   6   6   4   3
2   123456  1  -1  -1  -1  -1  -1  -1  -1  -1
3    29622  2   5   6   6   2   5   6   5   5
4    29622  1   6   6   6   7   3   5   6   6
5    94249  2   6   5   5   6   4   4   5   5
6    94249  1   6   6   6   6   4   4   5   5
7    63367  2   7   6   6   5   4   4   6   6
8    63367  1   3   3   4   3   5   5   6   6
9    82586  2   3   3   5   2   2   2   4   3
10   82586  1   5   3   5   5   4   6   6   4
11   60734  1   7   6   7   6   4   5   6   6
12   37786  2   7   7   6   1   4   5   3   2
13   37786  1   4   5   2   6   5   5   5   6
14   60724  2   5   5   6   5   4   5   6   6
15   74931  1   6   3   6   5   7   5   7   6
16   74931  2   5   6   5   5   4   5   6   7
17   16836  1   6   6   6   2   4   4   3   4
18   16836  2   6   5   6   5   5   5   4   3
19   40949  2   7   5   7   6   5   5   6   6
20   40949  1   7   7   7   7   7   7   7   7
21   81691  2   7   7   7   6   5   6   6   7
22   81691  1   4   3   4   4   4   5   7   6
23   39081  2   3   2   4   2   4   4   6   6
24   39081  1   5   4   6   3   7   5   7   7
25   62968  2   5   6   6   4   2   2   4   5
26   62968  1   2   2   2   2   5   5   5   5
27   76970  2   4   3   5   3   2   3   2   2
28   76970  1   6   6   7   6   4   2   2   2
29   84586  2   5   3   3   3   4   4   5   5
30   84586  1   6   6   6   6   4   4   7   6
31   17739  2   6   5   6   5   4   4   5   5
32   17739  1   3   3   2   4   5   3   3   4
33   16063  1   5   6   6   3   3   6   3   5
34   16063  2   7   7   6   6   6   5   6   6
35   31434  2   7   6   6   5   4   5   6   6
36   31434  1   3   6   2   1   2   2   2   1
37   15629  1   4   4   5   3   4   5   3   3
38   15629  2   6   5   7   6   4   4   6   6
39   22254  2   6   5   6   5   4   5   6   6
40   22254  1   5   3   6   2   2   2   3   3
41   97548  1   5   7   6   2   5   6   3   5
42   97548  2   5   4   5   3   5   6   5   6
43   24306  2   6   7   7   6   4   4   4   4
44   24306  1   2   2   4   3   4   4   4   5
45   43223  2   4   3   5   5   4   4   1   1
46   43223  1   2   2   3   2   5   5   6   6
47   65939  2   4   4   4   4   4   4   6   5
48   65939  1   4   2   5   4   4   4   6   5
49   86614  2   3   4   3   3   5   5   6   6
50   86614  1   6   6   7   5   6   6   7   7
51   14230  2   6   5   6   5   5   4   6   6
52   14230  1   7   6   6   6   5   6   6   6

NameError: name 'pd' is not defined

In [21]:
nasa_tlx

,Q2,Q8,Q9,Q10,Q11,Q12,Q13
0,"Vmesnik, na katerem ste nazadnje reševali nalogo:",Mentalna zahtevnost Kako mentalno zahtevna je...,Fizična zahtevnostKako fizično zahtevna je bil...,Časovna zahtevnost Kako zahteven (hiter oz. n...,Izvedba Kako uspešni ste bili pri doseganju t...,"Trud Kako zelo ste se mogli potruditi, da ste...","Frustracija Kako negotovi, nemotivirani, razd..."
1,1,5,0,3,2,8,7
2,1,-1,-1,-1,-1,-1,-1
3,2,12,0,5,12,15,7
4,1,8,0,5,5,8,2
5,2,1,0,1,0,1,1
6,1,3,0,3,0,1,1
7,2,0,0,0,0,0,0
8,1,11,0,7,6,12,15
9,2,0,0,2,0,0,5
10,1,4,0,4,0,5,4
11,1,2,0,1,2,4,0
12,2,0,0,0,5,1,1
13,1,3,0,3,10,6,14
14,2,3,0,5,1,3,0
15,1,3,1,6,4,8,4
16,2,5,0,12,4,13,5
17,1,1,0,6,0,1,0
18,2,2,0,0,0,1,1
19,2,0,0,0,0,3,13
20,1,0,0,0,0,0,0
21,2,0,0,0,0,0,0
22,1,0,0,8,0,1,0
23,2,12,0,10,8,12,13
24,1,10,0,12,7,12,13
25,2,8,0,4,3,4,6
26,1,17,3,18,19,19,13
27,2,12,2,5,0,14,13
28,1,0,0,0,0,1,-1
29,2,8,0,0,2,3,5
30,1,11,0,0,1,3,5
31,2,2,1,3,1,2,1
32,1,4,1,6,3,4,9
33,1,11,3,5,4,5,11
34,2,5,3,5,2,6,2
35,2,2,0,4,0,1,2
36,1,5,0,2,4,14,15
37,1,5,2,6,10,6,1
38,2,2,2,10,3,4,1
39,2,3,0,18,20,2,2
40,1,4,0,18,0,3,12
41,1,14,4,14,7,14,3
42,2,13,6,4,4,4,0
43,2,4,1,8,0,4,10
44,1,10,1,2,0,10,13
45,2,11,1,4,3,11,11
46,1,12,1,8,3,12,15
47,2,11,3,5,-1,14,14
48,1,8,1,5,-1,12,12
49,2,2,0,2,3,2,3
50,1,1,0,1,1,0,1
51,2,5,0,4,5,2,3
52,1,2,0,2,2,3,2

TypeError: can only concatenate str (not "int") to str

:

:

:

:

:

:

1. Uploading Excel Data :

:

:

:

:

:

:

:

:

:

:

Participants had to fill out S-UEQ, SUS and RAW-TLX after a task on Garmin and a task on Strava. Each participant represents 2 rows in a dataframe - one row represents self-reports for Garmin (1) and one for Strava (2). To do an analysis, data has to be split into 3 distinct questionnaires.

2. split data into questionnaires

In [3]:
split_dataframes = manager.split_data(data)

sueq_df = split_dataframes['S_UEQ']
sus_df = split_dataframes['SUS']
tlx_df = split_dataframes['NASA-TLX']
sueq_df.head()

NameError: name 'data' is not defined

:

3. calculate scores for each questionnaire

In [ ]:
print(sueq_df.dtypes)  # Replace with the relevant DataFrame

:

:

:

:

:

In [ ]:
import os
print(os.getcwd())

:

:

:

:

:

:

:

:

:

:

:

: